.App
{
    width: 45%;
    margin: 2em auto;
    background: #333;
    border-radius: 5px;
    color: #ddd;
}


.task-header{
    padding: 0.5em;
    border-bottom: 1px solid #332;
    text-align: center;
}

.form-task{
    padding: 1em;
    margin: 0 2em;
    border-bottom: 1px solid #9927e6ee;
}

.form-task h3,
.list-task h3{
    text-align: center;
    margin-bottom: 1.2em;
    padding: .5em;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    font-weight: bold;
    font-size: .6em;
    margin-bottom: .7em;
}

.form-control input{
    border: 1px solid #9927e6ee;
    border-radius: 3px;
    background: #2d2b31;
    padding: .8em;
    color: #dbdbdb;
}

input[type="submit"]{
    background: #9927e6ee;
    color: #eee;
    display: block;
    width: 100%;
    border: 1px solid #9927e6ee;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}
input[type="submit"]:hover{
    background: #27e667ee;
    transition: .5s ease;
}